<div class="container">
<div *ngIf="disaster">
  <h2>{{disaster.name}} Details</h2>
<div class="form-container">
  <mat-form-field>
    <input [(ngModel)]="disaster.type" matInput placeholder="Type">
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="disaster.name" matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="disaster.img" matInput placeholder="Image URL">
  </mat-form-field>

  <mat-form-field>
    <textarea  [(ngModel)]="disaster.description" matInput placeholder="Description"></textarea>
  </mat-form-field>
</div>
</div>
<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
</div>
