<!--<div class="card-container">
<mat-card class="card" *ngFor="let disaster of disasters">
  <mat-card-header>
    <mat-card-title>{{disaster.type}}</mat-card-title>
    <mat-card-subtitle>{{disaster.name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{disaster.img}}">
  <mat-card-content><p>{{disaster.description}}</p></mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/detail/{{disaster.id}}">Edit <i class="fas fa-edit"></i></a>
    <a mat-button (click)="delete(disaster)">Delete <i class="fas fa-trash-alt"></i></a>
  </mat-card-actions>
</mat-card>
</div>-->
<div class="container">
  <app-disaster-search></app-disaster-search>
  <div class="row">
<div class="col-lg-6 col-md-12 col-sm-12"  *ngFor="let disaster of disasters">
  <div class="thumbnail">
  <img src="{{disaster.img}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{disaster.type}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{disaster.name}}</h6>
    <p class="card-text">{{disaster.description}}</p>
    <a mat-button routerLink="/detail/{{disaster.id}}">Edit <i class="fas fa-edit"></i></a>
    <a mat-button (click)="delete(disaster)">Delete <i class="fas fa-trash-alt"></i></a>
  </div>
</div>
</div>
</div>
</div>
